body {
    /*padding: 50px;*/
    /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

nav {
    padding: 10px;
    border-bottom: 1px solid;
    margin: 10px 0;
}

nav a {
    text-decoration: none;
}

a {
    color: #00B7FF;
}
